@{
	Layout = "_Home";
}

<h1 align="center" style="margin-bottom: 40px;">Most Popular RoadMaps</h1>

@{
	foreach (var RMap in Model.AllRoadMaps)
	{
		<h2 style="margin-left: 40px;">@RMap.Name (@RMap.RMCategory.CategoryName) - @RMap.ShortDesc</h2>
		<p style="margin-left: 50px; margin-right: 50px; margin-bottom: 30px;">@RMap.LongDesc</p>
	}
}
